<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Dressing System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link
  rel="stylesheet"
  href="https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css"
/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playwrite+MX+Guides&display=swap" rel="stylesheet">
</head>
<body class="login-page">
   <div class="title">
    <h2>Closette</h2>
     <p class="tagline">Curate Your Style</p>
     </div>

    <div class="login-container">
        <h1>Login</h1>
        <form action="{{ url_for('login') }}" method="POST">
            <div class="input-group">
                <label>Username</label>
                <input type="text" name="username" required>
            </div>
            <div class="input-group">
                <label>Password</label>
                <input type="password" name="password" required>
            </div>
            <button type="submit">Login</button>
        </form>
        <p>or sign up using</p>
            <div class="social-icons">
            <i class="fi fi-brands-facebook"></i>
            <i class="fi fi-brands-instagram"></i>
            <i class="fi fi-brands-google"></i>
</div>
    </div>
</body>
</html>
